<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="FileLogger.Path" value="c:\logs" />
    <add key="MultiLogger.LogLevel" value="Information" />
    <add key="ConfigurationFile" value="Configuration.json" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MySqlConStr" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=crawler;uid=root;password=@WSX3edc;Character Set=utf8" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager,                  Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,                  Microsoft.Practices.Unity" />
      <!-- User-defined type aliases -->
      <typeAlias alias="IDataService" type="Crawler.DataServices.IDataService, Crawler" />
      <typeAlias alias="DbDataService" type="Crawler.DataServices.DbDataService, Crawler" />
      <typeAlias alias="IHtmlReader" type="Crawler.HtmlReaders.IHtmlReader, Crawler" />
      <typeAlias alias="HttpClientReader" type="Crawler.HtmlReaders.HttpClientReader, Crawler" />
      <typeAlias alias="HtmlAgilityPackReader" type="Crawler.HtmlReaders.HtmlAgilityPackReader, Crawler" />
      <typeAlias alias="JiangSuHttpClientReader" type="Crawler.HtmlReaders.JiangSuHttpClientReader, Crawler" />
      <typeAlias alias="ShangHaiPackReader" type="Crawler.HtmlReaders.ShangHaiPackReader, Crawler" />
      <typeAlias alias="FuJianHttpClientReader" type="Crawler.HtmlReaders.FuJianHttpClientReader, Crawler" />
      <typeAlias alias="IItemReader" type="Crawler.ItemReaders.IItemReader, Crawler" />
      <typeAlias alias="RegexItemReader" type="Crawler.ItemReaders.RegexItemReader, Crawler" />
      <typeAlias alias="QingHaiItemReader" type="Crawler.ItemReaders.QingHaiItemReader, Crawler" />
      <typeAlias alias="WeiJianWeiItemReader" type="Crawler.ItemReaders.WeiJianWeiItemReader, Crawler" />
      <typeAlias alias="IPageParser" type="Crawler.PageParsers.IPageParser, Crawler" />
      <typeAlias alias="RegexPageParser" type="Crawler.PageParsers.RegexPageParser, Crawler" />
      <typeAlias alias="HenanHrPageParser" type="Crawler.PageParsers.HenanHrPageParser, Crawler" />
      <typeAlias alias="IPageReader" type="Crawler.PageReaders.IPageReader, Crawler" />
      <typeAlias alias="SequentialPageReader" type="Crawler.PageReaders.SequentialPageReader, Crawler" />
      <typeAlias alias="QualityPageReader" type="Crawler.PageReaders.QualityPageReader, Crawler" />
      <typeAlias alias="JiangSuPageReader" type="Crawler.PageReaders.JiangSuPageReader, Crawler" />
      <typeAlias alias="ShanXiPageReader" type="Crawler.PageReaders.ShanXiPageReader, Crawler" />
    </typeAliases>
    <containers>
      <container name="Crawler">
        <types>
          <type type="IDataService" mapTo="DbDataService" name="Default" />
          <type type="IHtmlReader" mapTo="HttpClientReader" name="Default" />
          <type type="IHtmlReader" mapTo="HtmlAgilityPackReader" name="JsHtml" />
          <type type="IHtmlReader" mapTo="JiangSuHttpClientReader" name="JiangSuHtml" />
          <type type="IHtmlReader" mapTo="ShangHaiPackReader" name="ShangHaiHtml" />
          <type type="IHtmlReader" mapTo="FuJianHttpClientReader" name="FuJianHtml" />
          <type type="IItemReader" mapTo="RegexItemReader" name="Default" />
          <type type="IItemReader" mapTo="QingHaiItemReader" name="QingHaiHr" />
          <type type="IItemReader" mapTo="WeiJianWeiItemReader" name="WeiJianWeiHr" />
          <type type="IPageParser" mapTo="RegexPageParser" name="Default" />
          <type type="IPageParser" mapTo="HenanHrPageParser" name="HannanHr" />
          <type type="IPageReader" mapTo="SequentialPageReader" name="Default" />
          <type type="IPageReader" mapTo="QualityPageReader" name="Quality" />
          <type type="IPageReader" mapTo="JiangSuPageReader" name="JiangSu" />
          <type type="IPageReader" mapTo="ShanXiPageReader" name="ShanXi" />
        </types>
      </container>
    </containers>
  </unity>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>